#ifndef _VERSION_H__
#define _VERSION_H__

#define SERVER_VERSION $BUILD_FULL_VERSION
#define USER_BUILD $BUILD_USER
#define MACHINE_IP $BUILD_MACHINE_IP
#define GCC_VERSION $BUILD_GCC_VERSION
#define MAKEFILE_TIME $BUILD_MAKEFILE_TIME


#endif // _VERSION_H__
